<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @teacher.education_level %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @teacher.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Image URL</strong>
  <%= @teacher.image_url %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
