

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @school.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @school.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @school.longitude %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
